@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.useinter{
    font-family: Inter;
}
.usemario{
    font-family: SuperMario;
}
body{
    user-select: none;
      
}
html{
    scrollbar-width: none;
    -ms-overflow-style:none;
}
body::-webkit-scrollbar{
    overflow-y: scroll;  
    display: none;
}